body{

	background-image: url('../images/background.jpg') ;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#rightMenuItems{

	color: white;
	font-weight: bold;
	margin-top: 7px;
}

#carousel-example-generic{

	margin-top: -0.8%;
}

.ui.large.inverted.menu{

	font-size: 15px;
}

#modalHeaders{

	color: white;
	font-weight: bold;
}

#modalLabel{
	color: white;
}

#error{
	color: red;
	font-weight: bold;
	font-size: 15px;
}
